spring:
  application:
    name: auth-service
  mongodb:
    uri: "mongodb+srv://exploremate:Arunabasnet1703%23%23@exploremate-dev.tcprkds.mongodb.net/exploremate?retryWrites=true&w=majority&appName=exploremate-dev"

server:
  port: 8080
  servlet:
    context-path: /api
  forward-headers-strategy: framework
springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /api-docs
eureka:
  instance:
    prefer-ip-address: true