spring:
  application:
    name: email-service
  mail:
    host: smtp.gmail.com
    port: 587
    username: exploremate13@gmail.com
    password: Exploremate123##
    properties:
      mail:
        smpt:
          auth: true
          starttls:
            enable: true
