spring:
  kafka:
    consumer:
      group-id: signup-1
      auto-offset-reset: earliest

      key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:

        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer


        spring.json.value.default.type: "com.exploreMate.email_service.dto.EmailDto"


        spring.json.use.type.headers: false


        spring.json.trusted.packages: "*"
  application:
    name: email-service
  mail:
    host: smtp.gmail.com
    port: 587
    username: exploremate13@gmail.com
    password: tjxb duen vqgw lhpw
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000
server:
  port: 9090